/* 
    I really hate diving right into the code on line 1.
    Line 6 is much better. Less claustrophobic. You can breathe.
*/

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgray; color: navy;
}

h1, h2 {
    text-align: center; font-family: Arial, Helvetica, sans-serif;
}

img {
    height: auto;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    corner-shape: squircle;
}

.carousel {
    width: 700px;
    height: 300px;
    padding: 10px;
    display: flex;
    gap: 4vw;

    margin: auto;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    anchor-name: --my-carousel;
}

.carousel li {
    list-style-type: none;
    border: 1px solid #dddddd;
    padding: 20px;

    flex: 0 0 100%;
    scroll-snap-align: center;
}

.carousel::scroll-button(*) {
    border: 0;
    font-size: 2rem;
    background: none;
    color: black;
    opacity: 0.7;
    cursor: pointer;
    position: absolute;
    position-anchor: --my-carousel;
}

.carousel::scroll-button(*):hover,
.carousel::scroll-button(*):focus {
    opacity: 1;
}

.carousel::scroll-button(*):active {
    translate: 1px 1px;
}

.carousel::scroll-button(*):disabled {
    opacity: 0.2;
    cursor: unset;
}

.carousel::scroll-button(left) {
    content: "◄";
    right: calc(anchor(left) - 70px);
}

.carousel::scroll-button(right) {
    content: "►";
    right: calc(anchor(right) - 70px);
}