/* 
    I really hate diving right into the code on line 1.
    Line 6 is much better. Less claustrophobic. You can breathe.
*/

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgray; color: navy;
}